/* app css stylesheet */

.screen {

    border: 1px solid #2b542c;
    background-color: #AFDFB0;
    width: 200px;
    height: 150px;
    padding: 20px;
    text-align: center;
    font-size: 100px;
    color: #0C380A;

}
.shooter.screen {
    width: 100%;
    font-size: 80vmin;

}